* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #efefef;
    font-family: monospace;
}
i{
    margin-right: 5px;
}
a{
    text-decoration: none;
    color: inherit;
}
button{
    margin: 3px;
}
.container{
    width: 100%;
    margin: auto;
    background-color: #efefef;
}
.headerArea{
    width: 100%;
    height: 5rem;
    background-color: black;
}
.header{
    width: 100%;
    height: 15%;
    background-color:black;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    border-bottom: 2px solid gray;
    box-shadow: 3px 0 20px black;
    font-family: sans-serif;
}
.logoArea{
    width: 25%;
    height: 100%;
    float: left;
    color: white;
    size: 50rem;
    margin-left: 5%;
    margin-right: 3rem;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1%;
}
.top-nav{
    height: 100%;
    padding-left: 5%;
    padding-right: 5%;
}
.top-nav ul{
    list-style-type: none;
    margin: 0;
    height: 100%;
    padding: 0;
    height: 100%;
    overflow: hidden;
}
.top-nav li{
    float: left;
    height: 100%;
    margin-right: 2px;
}
.top-nav li a {
  display: inline-block;
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}
.top-nav select{
    height: 50.5px;
    width: 150px;
    font-size: 15px;
    border: none;
}
.top-nav .top-right-button{
    float: right;
}
.top-nav li a:hover{
  background-color: darkblue;
}
.active{
    background-color: dodgerblue;
}
.content{
    width: 100%;
    font-family: monospace;
}
.contentSection{
    height: 100%;
}
.propertyGrid{
    width: 90%;
    height: 100%;
    padding: 1%;
    margin: auto;
    background-color: #efefef;
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 1em;
    align-items: stretch;
    justify-items: stretch;

}
.nested{
    border: 0.5px solid #ccc;
    border-radius: 0 0 2% 2%;
    padding: 1%;
}
.nested:hover{
    border: 0.5px solid darkblue;
}
.propPhoto{
    height: 80%;
}
.propPhoto img{
    height: 100%;
    width: 100%;
}

.propPhoto p{
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 5%;
}
.propertyView{
    width: 90%;
    height: 100%;
    margin: auto;
    padding: 2%;
    background-color: #efefef;
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 1rem;
}
.gallery img{
    height: 100%;
    width: 100%;
    border-radius: 1%;
}
.details{
    border-radius: 1%;
    border: 0.5px solid #ccc;
    display: grid;
    grid-auto-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-template-rows: 1fr 1fr;
    grid-auto-rows: minmax(1fr, 1fr);
    align-content: stretch;
    align-items: stretch;
}
.userContact{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-auto-rows: minmax(50%, 50%)
}
.propertyDescription, .userActions{
    padding: 4%;
    line-height: 3em;
    clear: both;
}
.propertyDescription p, .userActions p, .propertyDescription h2, .userActions h2{
    font-family: monospace;
    font-size: 1.2rem;
}
.propertyDetails{
    padding: 2%;
}
.propertyForm{
    width: 90%;
    margin: auto;
    padding: 3%;
    background-color: white;
}
.propertyForm input{
    width: 100%;
    height: 30px;
    margin: 5px;
    border: 0.5px solid #ccc;
    border-top: none;
    border-right: none;
    font-size: 15px;
    border-radius: 3px;
}
.userInfo{
    width: 50%;
    margin: auto;
    padding: 1%;
    margin-bottom: 2%;
    text-align: center;
    border: 0.5px solid #ccc;
    box-shadow: 5px 5px 10px gray;
}
.userPhoto img{
    width: 100%;
    overflow: hidden;
    border-radius: 2%;
}
.userPhoto{
    width: 50%;
    margin: auto;
}
.userDetails{
    width: 50%;
    margin: auto;
}
.userDetails p{
    margin: 10px;
}
#propDescription{
    width: 100%;
    margin: 5px;
    border: 0.5px solid #ccc;
    border-radius: 3px;
}
.userForm{
    width: 50%;
    height: 100%;
    margin: auto;
    margin-bottom: 1rem;
    border: 0.5px solid #ccc;
    box-shadow: 5px 5px 10px gray;
    padding: 3%;
    background-color: white;
}
.welcomeMessage{
    margin-top: 0;
    text-align: center;
    color: black;
}
.userForm input, #signUpSelect, .propSelect{
    width: 100%;
    height: 30px;
    margin: 3px;
    border: 0.5px solid #ccc;
    border-top: none;
    border-right: none;
    font-size: 15px;
    border-radius: 3px;
}
.goButton{
    width: 100%;
    height: 40px;
    margin: 3px;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
    background-color: dodgerblue;
    border-radius: 5px;
}
.goButton:hover{
    background-color: darkblue;
}

.contactButton, .editButton, .soldButton{
    border: none;
    color: white;
    width: 100%;
    font-size: 15px;
    padding: 2%;
    background-color: dodgerblue;
    border-radius: 5px;
}
.contactButton:hover, .editButton:hover, .soldButton:hover{
    background-color: darkblue;
}
.flagButton, .deleteButton{
    border: none;
    color: white;
    width: 100%;
    font-size: 15px;
    padding: 2%;
    background-color: #222222;
    border-radius: 5px;
}

.flagButton:hover, .deleteButton:hover{
    background-color: darkred;
}
.footer{
    width: 100%;
    height: 15%;
    background-color: black;
    color: white;
    font-family: sans-serif;
}
.footer p{
    margin: 0;
    text-align: center;
    font-size: 1rem;
    padding: 15px 20px;
}